#gamedevtv-navbar {
    background-color: #24a729 !important;
}

.navbar-brand {
    padding-left: 20%;
}

.navbar-brand img {
    height: 40px;
}

body {
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding-top: 25px;
}

